.sliding-content {
    display: flex;
    flex-direction: row;
    transition: transform 0.3s ease-in-out;
}

.slide-left {
    transform: translateX(0);
}

.slide-right {
    transform: translateX(-50%);
}
