/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */

/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

/* This removes spinner from number inputs globally */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Width */
/* Chrome, Safari, Edge, Opera */
::-webkit-scrollbar {
  /* width: 4px; */
  /* height: 0px; */
  /* display: none; */
}

/* Firefox */
* {
  scrollbar-width: 0px;
}

/* Track */
/* Chrome, Safari, Edge, Opera */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Firefox */
* {
  scrollbar-color: #f1f1f1 transparent;
}

/* Handle */
/* Chrome, Safari, Edge, Opera */
::-webkit-scrollbar-thumb {
  background: #b8b8b8;
  border-radius: 50px;
}

/* Handle on hover */
/* Chrome, Safari, Edge, Opera */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.gradient-overlay-left {
  position: absolute;
  top: 0;
  left: 0px;
  height: 100%;
  width: 30px; /* Adjust the width of the gradient overlay as needed */
  background: linear-gradient(
    to right,
    rgb(255, 255, 255) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  z-index: 1;
}
.gradient-overlay-bottom {
  position: absolute;
  bottom: 0;
  left: 0px;
  width: 100%;
  height: 40px; /* Adjust the width of the gradient overlay as needed */
  background: linear-gradient(to top, #f3f4f6 0%, rgba(255, 255, 255, 0) 100%);
  z-index: 1;
}
.gradient-overlay-top {
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
  height: 150px; /* Adjust the width of the gradient overlay as needed */
  background: linear-gradient(
    to bottom,
    rgba(24, 24, 24, 0.654),
    rgba(0, 0, 0, 0) 100%
  );
  z-index: 1;
}
.gradient-overlay-top-banner {
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
  height: 100%; /* Adjust the width of the gradient overlay as needed */
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.798),
    rgba(0, 0, 0, 0.248) 100%
  );
  z-index: 1;
}
.gradient-overlay-right {
  position: absolute;
  top: 0;
  right: 10px;
  height: 100%;
  width: 50px; /* Adjust the width of the gradient overlay as needed */
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgb(255, 255, 255) 100%
  );
  z-index: 1;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet {
  background: #ffffff;
}

.react-international-phone-input-container
  .react-international-phone-country-selector-button {
  padding: 0px 8px;
  height: 100%;
  background-color: white;
}

.ql-tooltip {
  left: 0 !important;
}

.blog-description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.blog-description p {
  margin: 0;
}

.blog-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.truncated-description {
  -webkit-line-clamp: 1; /* Chrome, Safari, Opera browsers */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.truncated-description-2 {
  -webkit-line-clamp: 2; /* Chrome, Safari, Opera browsers */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.truncated-description-3 {
  -webkit-line-clamp: 3; /* Chrome, Safari, Opera browsers */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.blog-page-description h2 {
  font-size: 20px;
}

.blog-page-description blockquote {
  margin-left: 30px;
  border-left: 3px solid #ccc;
  padding-left: 10px;
  font-style: italic;
}

.blog-page-description li {
  list-style: disc;
  margin-bottom: 10px;
}

.blog-page-description ul {
  margin-left: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
}

/* Body text */
.blog-page-description p {
  margin-bottom: 15px;
  line-height: 1.6;
}

/* Bold text */
.blog-page-description strong {
  font-weight: bold;
}

/* Italics */
.blog-page-description em {
  font-style: italic;
}

/* Underline */
.blog-page-description u {
  text-decoration: underline;
}

/* Links */
.blog-page-description a {
  color: #005cbf;
  text-decoration: underline;
}

.blog-page-description a:hover {
  color: #005cbf;
  text-decoration: none;
}

/* Code blocks */
.blog-page-description code {
  font-family: "Courier New", Courier, monospace;
  background-color: #f8f9fa;
  padding: 2px 5px;
  border: 1px solid #dae0e5;
  border-radius: 4px;
}

/* Images */
.blog-page-description img {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
}

/* Ordered lists */
.blog-page-description ol {
  margin-left: 30px;
  margin-bottom: 15px;
}

/* Heading styles */
.blog-page-description h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

.blog-page-description h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

.blog-page-description h3 {
  font-size: 20px;
  margin-bottom: 15px;
}

/* Horizontal line */
.blog-page-description hr {
  border: 1px solid #ccc;
  margin: 20px 0;
}

/* Tables */
.blog-page-description table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.blog-page-description th,
.blog-page-description td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

/* Responsive styling */
@media (max-width: 768px) {
  .blog-page-description {
    padding: 0 15px;
  }
}
@media (max-width: 480px) {
  .blog-page {
    display: flex;
    flex-direction: col;
  }
}
/* Add any additional styles based on your design preferences */

.gradient-free {
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
  height: 110px; /* Adjust the width of the gradient overlay as needed */
  background: linear-gradient(
    to bottom,
    rgba(193, 193, 193, 0.4),
    rgba(0, 0, 0, 0) 100%
  );
  z-index: 1;
}
.gradient-basic {
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
  height: 110px; /* Adjust the width of the gradient overlay as needed */
  background: linear-gradient(
    to bottom,
    rgba(33, 159, 255, 0.4),
    rgba(0, 0, 0, 0) 100%
  );
  z-index: 1;
}
.gradient-advance {
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
  height: 110px; /* Adjust the width of the gradient overlay as needed */
  background: linear-gradient(
    to bottom,
    rgba(166, 49, 255, 0.4),
    rgba(0, 0, 0, 0) 100%
  );
  z-index: 1;
}
.gradient-ultimate {
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
  height: 110px; /* Adjust the width of the gradient overlay as needed */
  background: linear-gradient(
    to bottom,
    rgba(255, 125, 25, 0.4),
    rgba(0, 0, 0, 0) 100%
  );
  z-index: 1;
}

table th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  background: #fff;
}
